<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App Case Study</title>

  <link rel="stylesheet" type="text/css" href="/src/components/CaseStudies/ChatAppCaseStudy.css">
</head>

<body class="body">
  <div class="container">
    <h1 class="title">Chat App Case Study</h1>
    <h3>Overview</h3>
    <p>The project aims to develop a mobile chat application using React Native, Expo, and Google Firestore Database.
      The app will offer a seamless chat experience, including features such as sending messages, images, and location
      data. This native application will cater to both Android and iOS users, emphasizing a visually appealing and
      accessible design.</p>
    <h3>Purpose &amp; Context</h3>
    <p>As mobile usage continues to rise, native mobile applications have become essential for various tasks, including
      communication. This project addresses the evolving landscape of mobile app development by leveraging React Native,
      Expo, and Google Firestore Database. By building a feature-rich chat app, developers can showcase their skills in
      JavaScript mobile development and stay ahead in the ever-growing mobile app industry.</p>
    <h3>Objective</h3>
    <p>The primary objective is to create a robust React Native chat app that supports real-time communication, image
      sharing, location sharing, and offline message access. The app will be styled according to design specifications,
      offering users the ability to customize their chat experience. Authentication will be handled through Google
      Firebase, and data storage will utilize both Firestore and local storage for offline access.</p>
    <h3>Approach</h3>
    <p>The development approach involves a step-by-step process, starting with setting up the development environment
      and creating the app's layout based on provided screen designs. The Gifted Chat library will be employed to
      implement the chat interface and functionality. Authentication, real-time data storage, offline functionality, and
      communication features will be progressively integrated, following the outlined exercises.</p>
    <h3>Challenges</h3>
    <p>Implementing real-time communication features such as image sharing and location sharing.
      Ensuring seamless offline functionality, allowing users to access locally stored messages.
      Adhering to design specifications and accessibility considerations for a diverse user base.
      Integrating Firebase authentication and Firestore database seamlessly into the app.</p>
    <h3>Duration</h3>
    <p>The project timeline will span across multiple exercises, with each exercise contributing to specific aspects of
      the app's development. The duration may vary based on individual progress and engagement with the learning
      materials.</p>
    <h3>Credits</h3>
    <p>This project is part of an educational experience, guided by resources provided. The fictional mobile chat app
      serves as a practical demonstration of React Native and mobile development skills, showcasing the ability to build
      feature-rich, visually appealing, and accessible applications. The integration of real-time features and cloud
      storage technologies highlights the developer's proficiency in modern mobile app development practices.</p>
  </div>
</body>

</html>