<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meet App Case Study</title>

  <link rel="stylesheet" type="text/css" href="/src/components/CaseStudies/CaseStudy.css">
</head>

<body class="body">
  <div class="container">
    <h1 class="title">Meet App Case Study</h1>
    <h3>Overview</h3>
    <p>The goal of this project was to develop a serverless, progressive web application (PWA) using React, following a
      test-driven development (TDD) approach. This application uses the Google Calendar API to fetch and display
      upcoming events. The integration of serverless architecture and PWA features ensures a scalable, cost-effective,
      and user-friendly web app with offline capabilities.</p>
    <h3>Purpose &amp; Context</h3>
    <p>Serverless architecture and PWAs represent the forefront of web development, offering benefits such as ease of
      scalability, cost efficiency, offline support, and enhanced user experience. This project combines these concepts,
      employing a TDD technique to prioritize code quality and test coverage. This application will not only serve as a
      practical tool for viewing events while also allowing me to further develop my web development skills, including
      serverless functions, PWA features, and data visualization.</p>
    <h3>Objective</h3>
    <p>The primary objective of this project was to build a React-based PWA that leverages serverless functions,
      specifically AWS Lambda,
      for the authorization server. Employing the TDD technique, the app allows users to filter events by city,
      show/hide event details, specify the number of events, and use the app offline. Additionally, the app
      implements charts for data visualization, enhancing its visual appeal and analytical capabilities.</p>
    <h3>Approach</h3>
    <p>The development approach involved a TDD cycle, where tests were written before the actual functionality. The
      Google Calendar API and OAuth2 authentication flow were integrated, and serverless functions (preferably AWS
      Lambda) serve as the backend. PWA features, including offline support and the ability to add an app shortcut
      to the home screen, were also implemented. Data visualization using charts (scatterplot and pie chart) were added
      to enhance the app's visual appeal.</p>
    <h3>Challenges</h3>
    <p>This project was my first to integrate serverless functions and ensuring their seamless interaction with the
      Google Calendar API. I also need to create a responsive design that worked well across various screen sizes,
      including mobile and tablet.
      I needed to achieve and maintain a test coverage rate greater than 90% throughout the development process. My final
      challenge was ensuring that my app met the technical requirements for a PWA and serverless architecture, including
      offline support and cloud
      deployment.</p>
    <h3>Technologies Used</h3>
    <p>React</p>
  </div>
</body>

</html>