<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyFlix Client Case Study</title>

  <link rel="stylesheet" type="text/css" href="/src/components/CaseStudies/CaseStudy.css">
</head>

<body class="body">
  <div class="container">
    <h1 class="title">MyFlix Client Case Study</h1>
    <h3>Overview</h3>
    <p>This project is the second part of the MyFlix Web Application. It is the client-side development of the MyFlix
      web application aims to create a responsive and dynamic user interface
      using React. This component complements the server-side code by facilitating user interactions,
      rendering responses from the server-side, and providing a polished user experience. The client-side, developed
      using full-stack JavaScript technologies within the MERN stack, will enable movie enthusiasts to access and manage
      information about different movies.</p>
    <h3>Purpose &amp; Context</h3>
    <p>Client-side development has become a crucial aspect of modern web applications, with libraries like React
      enhancing user experiences. In this Achievement, my goal was to build a client-side interface for the MyFlix app,
      which seamlessly integrates with the previously developed server-side (MyFlix API). As a Full-stack developer I
      need to
      excel in both server-side and client-side development to deliver comprehensive and user-friendly applications.</p>
    <h3>Objective</h3>
    <p>Utilizing React, my objective was to build the client-side of the MyFlix app based on my existing server-side
      code, including the REST API and database. The client-side will feature a single-page, responsive app with
      routing, rich interactions, and various interface views. This project contributes to showcasing my understanding
      of full-stack JavaScript development, emphasizing the importance of well-organized and maintainable code.</p>
    <h3>Approach</h3>
    <p>The development process involved creating React components for different views, handling data through the
      REST API endpoints defined in the server-side, and ensuring a smooth user experience. Attention was given to
      code readability, maintenance, and the design and usability of the MyFlix app. Key features such as movie listing,
      filtering, detailed views, user authentication, and profile management were also implemented to meet user
      requirements.</p>
    <h3>Challenges</h3>
    <p>One of my biggest challenges with this project was insuring a seamless integration with my existing server-side
      code. In order to acheive this I had to implement state routing for a single-page application (SPA). I also had to
      manage REACT state efficiently, especially for features like movie filtering. This was also my first project to
      incorporate Bootstrap for styling and responsiveness while maintaining a cohesive design.</p>
    <h3>Technologies Used</h3>
    <p>React, React-Bootstrap, Parcel</p>
  </div>
</body>

</html>