<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyFlix API Case Study</title>
  <link rel="stylesheet" type="text/css" href="/src/components/CaseStudies/CaseStudy.css">
</head>

<body class="body">
  <div class="navbar">
    <a href="http://michael-cillo.com" class="backLink">Back to Michael-Cillo.com</a>
    <h1 class="title">My Flix API Case Study</h1>
  </div>
  <div class="container">
    <h3>Overview</h3>
    <p>The MyFlix project is a two-part project that aimed to create a full-stack web application that focuses on
      movies,
      directors, and genres. MyFlix API is the server-side component, developed using the MERN stack. It involeved
      building a robust REST API with a
      MongoDB database to store and retrieve movie-related data. The objective was to demonstrate my understanding of
      full-stack
      JavaScript development, including various technologies such as Node.js, Express, MongoDB, and Mongoose.
    </p>
    <h3>Purpose &amp; Context</h3>
    <p>With the always evolving landscape of web development, it is a necessity for me as a web developer
      to possess both front-end and back-end skills. This project helped me to develop skills that would become the
      foundation of my
      web development career. The MyFlix application serves movie enthusiasts, allowing them to
      access comprehensive information about movies, directors, and genres. This server-side component will handle
      the logic, data storage, and retrieval, ensuring a seamless experience for users.</p>
    <h3>Objective</h3>
    <p>My primary objective of this project was to construct the server-side of the MyFlix web application. This involved designing
      and implementing a well-architected REST API, utilizing JavaScript, Node.js, Express, and MongoDB. The API
      supports
      CRUD operations, enabling users to interact with the database through common HTTP methods. My goal
      was to develop a scalable and efficient backend system that will later integrate with the client-side (built with
      REACT) to form a complete MERN stack application.</p>
    <h3>Approach</h3>
    <p>The development process followed a structured path outlined in various exercises during my Career Foundry
      Bootcamp.
      This included setting up the project directory, practicing Node.js syntax, configuring package management,
      implementing web server
      frameworks, defining REST API endpoints, working with both relational (SQL) and non-relational (MongoDB)
      databases, modeling business logic using Mongoose, and integrating authentication and authorization mechanisms.
      Additionally, data security, validation, and ethical considerations were incorporated to create a secure way for
      users to access their data.</p>
    <h3>Challenges</h3>
    <p>This project was my first foray into working primarily with the server-side of an application and with that came many
      challenges. I learned how to balance the complexity of the MERN stack technologies in order to ensure seamless
      communication
      between the server-side I was currently building with the as of then unbuilt client-side component. I also needed
      to implement
      robust authentication and authorization mechanisms the adhere to data security regulations and ethical
      considerations.
    </p>
    <h3>Technologies Used</h3>
    <p>JavaScript, Node.js, Express, MongoDB, Postman</p>
  </div>
</body>

</html>